*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    background-color: #000;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    position: relative;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*    عشان اخلي الاشي الي حواتو يجي بالنص ويجيو جمب بعض الي همة اللوغو والبار*/
    width: 80%;
    margin: auto;
    /* عشان فعلا اخليهم يجيو بالنص من اصل ال 80% */
    padding: 20px; 
    /* البادنغ عشان نوسع عليهم من راس الصفحة  */
}
.image 
{
width: 40px;

}
ul li 
{
list-style: none;
display: inline-block;
}
 a{ 
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin: 0 10px;
        text-transform: capitalize;
 }
 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 120px;

 }
 .text{
    width: 40%;
 }
 .content .text h2{
    color:#fff;
    font-size: 40px;
    text-transform: uppercase;
 }

 .content .text p{
    color:#fff;
    font-size: 20px;
    margin: 20px 0;
 }
 .content .text a{
    background-color: #fff;
    color:#000;
    padding: 10px 15px;
    border-radius: 20px;
 }
 .photo{
    width: 30%;
 }
 .content .photo img{
    width: 250px;
 }
 .icons{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    
    
     }
     .icons img {
        width: 60px;
        transition: 0.5s;
        cursor: pointer;
     }
     .icons img:hover{
        transform: scale(1.2);
     }

 

